<!DOCTYPE html>
<html>
<head>
  <title>SecureAdmin</title>
  <%= stylesheet_link_tag    "secure_admin/application", media: "all" %>
  <%= javascript_include_tag "secure_admin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
